.nav {
    background-color: orangered;
}

.nav ul {
    font-size: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav :global(.active) {
    background-color: green;
}

:global(.test) {
    background-color: brown;
}